body {
  font-family: Arial;
}

.custom-margin {
  margin-bottom: 180px;
}

.card-collection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.standout {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgba(51, 51, 51) 0px 0px 0px 3px;
}

h1,
h2,
h3,
h4,
h5,
p {
  text-align: center;
}

.nav-item:hover {
  font-weight: 600;
}

.teamSelected:hover {
  border: 2px solid gray;
}

footer {
  background-color: lightgray;
}

@media screen and (max-width: 768px) {
  .card-collection {
    grid-template-columns: 1fr;
  }
}
